.b-tree *{
  margin: 0;
  padding: 0;
}

.b-tree li{
  padding: 8px;
}
.b-tree .icon{
  display: inline-block;
  border: 1px solid #636364;
  color: #636364;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.b-tree .title{
  display: inline;
}

.b-tree .second-level{
  display: none;
  padding-left: 20px;
}