html,body{
  width: 100%;
}

html, body, ul, li{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: #2643c0d7;
  height: 50px;
  padding: 8px;
}

header li.nav-item{
  float: left;
  line-height: 50px;
  font-size: 18px;
  font-weight: bolder;
}
header .nav-item a {
  color: #dedfe2fa;
  display: block;
  padding: 0 8px 0 8px;
}

header .nav-item a.active{
  color: #fff;
  font-size: 20px;
}

header .nav-item a:hover{
  color: #fff;
}

#catalog{
  float: left;
  width: 20%;
  border-right: 1px solid #15353573;
  margin-top: 30px;
}

#content{
  float: left;
  width: 75%;
  margin-top: 30px;
  padding-left: 30px;
}